/******** font-faces *********/
@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensanslight.woff") format("woff"),
  url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff") format("woff"),
  url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff") format("woff"),
  url("../fonts/gilroyextrabold.woff2") format("woff2");
}


/******** common *********/
body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content__title {
  margin: 0;
  margin-top: 36px;
  margin-bottom: 21px;
  padding: 0;
  padding-left: 60px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.section-title {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}


/******** form *********/
.form-section {
  margin: 0;
  margin-top: 27px;
  padding: 0;

  border: none;
  border-top: 2px solid #000000;
}

.form-section__title {
  margin: 0;
  margin-top: 10px;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}


.form__components-list {
  margin: 0;
  margin-top: 16px;
  padding: 0;

  list-style: none;
}

.form-checkbox {
  position: relative;

  padding-left: 40px;

  font-size: 14px;
  line-height: 40px;
  color: #000000;

  cursor: pointer;
}

.form-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  background: url("../img/checkbox_off.svg") 0 0 no-repeat;
}

.form-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox_on.svg");
}

.form-radio {
  position: relative;

  padding-left: 40px;

  font-size: 14px;
  line-height: 40px;
  color: #000000;

  cursor: pointer;
}

.form-radio input[type="radio"] + .checkbox-indicator {
  position: absolute;
  top: 50%;
  left: 0;

  width: 17px;
  height: 17px;
  margin-top: -11px;

  border: 4px solid #000000;
  border-radius: 50%;
}

.form-radio input[type="radio"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 9px;
  height: 9px;
  margin-top: -4px;
  margin-left: -4px;

  background-color: #000000;
  border-radius: 50%;
}

.form-checkbox:hover input[type="checkbox"] + .checkbox-indicator,
.form-radio:hover input[type="radio"] + .checkbox-indicator {
  opacity: 0.6;
}

.form-checkbox:active input[type="checkbox"] + .checkbox-indicator,
.form-radio:active input[type="radio"] + .checkbox-indicator {
  opacity: 1;
}

.form-checkbox input[type="checkbox"]:disabled + .checkbox-indicator,
.form-radio input[type="radio"]:disabled + .checkbox-indicator {
  opacity: 0.25;
}

.form-checkbox input[type="checkbox"]:focus + .checkbox-indicator,
.form-radio input[type="radio"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.form__label {
  display: inline-block;
  margin: 12px 0 7px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  vertical-align: top;
  color: #000000;
}

.form-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 15px 19px 18px  ;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
  letter-spacing: normal;

  background-color: #f2f2f2;
  border: none;
}

.form-input:hover {
  background-color: #ebebeb;
}

.form-input:focus {
  background-color: #ffffff;
  outline: 3px solid #f7e296;
}

.form-input:invalid {
  background-color: #f6dada;
}

.form-input::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.form-input:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.form-input::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.form-input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}


/******** button *********/
.button {
  position: relative;
  z-index: 1;

  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 40px;
  padding: 0 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  font-family: "Gilroy", Arial, sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: transparent;
  border: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;
  margin-top: -4px;

  background-color: #f0c52e;
}

.button:hover::before {
  top: 0;

  height: 100%;
  margin: 0;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}


/******** breadcrumbs *********/
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  padding-left: 21px;

  list-style: none;
}

.breadcrumb-item {
  position: relative;

  padding-left: 38px;
}

.breadcrumb-item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;

  display: block;
  width: 4px;
  height: 7px;

  background: url("../img/nav-arrow.svg") 0 0 no-repeat;
}

.breadcrumb-item__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumb-item__link:hover,
.breadcrumb-item__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumb-item__link:active {
  color: rgba(0, 0, 0, 0.1);
}


/******** main-header *********/
.main-header {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 40px;
  padding: 42px 60px 48px;

  background-color: #f7e296;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.main-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0;
  margin-bottom: 27px;

  -ms-flex-negative: 0;
}

.home-link:hover,
.home-link:focus {
  opacity: 0.6;
}

.home-link:active {
  opacity: 0.3;
}

.main-header__home-link {
  position: absolute;
  top: -18px;
}

.logo {
  width: 164px;
  height: 35px;
}

.main-button {
  display: block;
  margin-left: 37px;

  vertical-align: middle;
  color: #000000;
}

.main-button:hover,
.main-button:focus {
  opacity: 0.6;
}

.main-button:active {
  opacity: 0.3;
}

.main-button--align--right {
  margin-left: auto;
}

.main-button__icon {
  position: relative;

  padding-left: 26px;
}

.main-button__icon::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;

  width: 13px;
  height: 13px;

  background-repeat: no-repeat;
  background-position: center;
}

.main-button__icon--login::before {
  background-image: url("../img/icons/user.svg");
}

.main-button__icon--compare::before {
  left: 4px;

  background-image: url("../img/icons/compare.svg");
}

.main-button__icon--cart::before {
  left: 2px;

  background-image: url("../img/icons/cart.svg");
}

.main-button__logout {
  margin-left: 20px;

  opacity: 0.3;
}


/******** search-form *********/
.search-form {
  width: 441px;
  margin: 0;
  margin-right: 62px;
  padding: 0;
}

.search-form__query-label {
  position: relative;

  display: inline-block;
  margin: 0;
  padding: 0;

  font-size: 0;
  vertical-align: middle;
}

.search-form__query-label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-form__query {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 356px;
  margin: 0;
  margin-left: -5px;
  padding: 0;
  padding-bottom: 8px;
  padding-left: 38px;

  font: inherit;
  vertical-align: middle;
  letter-spacing: inherit;

  background: none;
  border: none;
  border-bottom: 2px solid transparent;
}

.search-form__query::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.search-form__query:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.search-form__query::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.search-form__query::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form__query:focus::-webkit-input-placeholder,
.search-form__query:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search-form__query:focus:-ms-input-placeholder,
.search-form__query:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search-form__query:focus::-ms-input-placeholder,
.search-form__query:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search-form__query:focus::placeholder,
.search-form__query:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__query:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}

.search-form__button {
  width: 85px;
  height: 49px;
  margin-top: -10px;
  margin-left: -4px;

  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: #000000;

  background: none;
  border: 2px solid #000000;
  visibility: hidden;
}

.search-form__button:focus,
.search-form__button:hover,
.search-form__query:focus + .search-form__button {
  visibility: visible;
}

.search-form__button:hover,
.search-form__button:focus {
  color: rgb(255, 255, 255);

  background-color: #000000;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}


/******** menu *********/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: nowrap;
  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: nowrap;
}

.menu__item {
  flex-shrink: 0;

  -ms-flex-negative: 0;
}

.menu__item:nth-child(2) {
  margin-left: 291px;
}

.menu__item:nth-child(3) {
  margin-left: 35px;
}

.menu__item:last-child {
  margin-left: 108px;
}

.menu__item--with-submenu {
  position: relative;

  padding-right: 30px;
}

.menu__item--with-submenu::before,
.menu__item--with-submenu::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 3px;

  width: 16px;
  height: 2px;

  background-color: #b8a974;
}

.menu__item--with-submenu::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu__link:hover,
.menu__link:focus {
  opacity: 0.6;
}

.menu__link:active {
  opacity: 0.3;
}

.menu__submenu {
  position: absolute;
  left: -60px;
  z-index: 10;

  display: none;
      flex-wrap: wrap;
  width: 640px;
  margin: 0;
  padding: 21px 460px 31px 60px;

  list-style: none;

  background-color: #f7e296;

  -ms-flex-wrap: wrap;
}

.menu__submenu-item {
  width: 200px;
}

.menu__submenu-item--col1 {
  margin-right: 40px;
}

.menu__submenu-item--new-line {
  width: 240px;
}

.menu__link:focus + .menu__submenu,
.menu__item--with-submenu:hover > .menu__submenu,
.menu__submenu:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__submenu-link {
  display: block;
  padding-bottom: 6px;

  color: #000000;
}

.menu__submenu-link:hover,
.menu__submenu-link:focus {
  opacity: 0.6;
}

.menu__submenu-link:active {
  opacity: 0.3;
}

.menu--white .menu__link {
  color: #ffffff;
}


/******** slides *********/
.slides {
  position: relative;

  min-height: 520px;
  margin-bottom: 74px;

  -webkit-box-shadow: inset 0 112px 0 0 #f7e296;
          box-shadow: inset 0 112px 0 0 #f7e296;
}

.slides::before {
  content: "";
  position: absolute;
  top: 38px;
  right: 460px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slides-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  position: relative;

  display: none;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.slide::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 905px;

  font-weight: 800;
  font-size: 179px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #ffffff;
}

.slide-1::before {
  content: "01";
  left: 928px;
}

.slide-2::before {
  content: "02";
  left: 905px;
}

.slide-3::before {
  content: "03";
  left: 901px;
}

.slide__image-container {
  position: relative;

  width: 560px;
}

.slide__image {
  display: block;
}

.slide-1 .slide__image {
  margin: 0 auto;
}

.slide-2 .slide__image {
  position: absolute;
  top: 13px;
  left: 116px;
}

.slide-3 .slide__image {
  position: absolute;
  top: 66px;
  left: 31px;
}

.slide__details {
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 501px;
  padding-right: 59px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.slide__lead {
  display: block;
  margin-top: 80px;

  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.slide__description {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-right: 40px;
}

.slide-1 .slide__description {
  padding-right: 20px;
}

.slide__detail-button {
  width: 220px;
  margin: 42px 0 48px;
}

.slide__parameters {
  -ms-flex-order: 3;
  order: 3;

  border-collapse: collapse;

  -webkit-box-ordinal-group: 4;
}

.slide__parameters tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -76px;
}

.slide__parameters tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-left: 76px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.slide-3 .slide-3__parameter-2 {
  margin-left: 43px;
}

.slide__parameter-name {
  display: block;
  -ms-flex-order: 1;
  order: 1;
  padding-top: 7px;

  font-size: 13px;
  line-height: 20px;

  -webkit-box-ordinal-group: 2;
}

.slide__parameter-value {
  display: block;

  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.slides__toggles {
  position: absolute;
  right: 82px;
  bottom: 180px;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-1__toggle,
.slide-2__toggle,
.slide-3__toggle {
  position: absolute;
  right: 93px;
  bottom: 177px;
}

.slide__toggle_indicator {
  position: relative;

  display: block;
  width: 11px;
  height: 11px;
  margin-left: 20px;

  font-size: 0;

  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slide-1__toggle:checked ~ .slides__toggles .slide__toggle_indicator[for="slide-1"]::after,
.slide-2__toggle:checked ~ .slides__toggles .slide__toggle_indicator[for="slide-2"]::after,
.slide-3__toggle:checked ~ .slides__toggles .slide__toggle_indicator[for="slide-3"]::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;

  width: 3px;
  height: 3px;

  border: 1px solid #000000;
  border-radius: 50%;
}

.slide-1__toggle:checked ~ .slides-list .slide-1 {
  display: flex;
}

.slide-2__toggle:checked ~ .slides-list .slide-2 {
  display: flex;
}

.slide-3__toggle:checked ~ .slides-list .slide-3 {
  display: flex;
}

/******** popular-categories *********/
.popular-categories {
  margin-bottom: 71px;
}

.catalog-categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  margin-top: -40px;
  margin-left: -40px;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.catalog-category {
  width: 160px;
  margin-top: 40px;
  margin-left: 40px;
}

.catalog-category__button {
  position: relative;

  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 250px;
  padding-top: 192px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  word-wrap: break-word;
}

.catalog-category__button--monopod {
  padding-right: 33px;
}

.catalog-category__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: #f7e296;
}

.catalog-category__button:hover::before,
.catalog-category__button:focus::before {
  background-color: #f0c52e;
}

.catalog-category__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
  background-position: center;
}

.catalog-category--vr .catalog-category__button::after {
  background-image: url("../img/categories/vr.svg");
}

.catalog-category--monopod .catalog-category__button::after {
  top: 19px;

  background-image: url("../img/categories/monopod.svg");
}

.catalog-category--action-camera .catalog-category__button::after {
  left: 5px;

  background-image: url("../img/categories/action_camera.svg");
}

.catalog-category--fitness-band .catalog-category__button::after {
  background-image: url("../img/categories/fitness_band.svg");
}

.catalog-category--smart-watch .catalog-category__button::after {
  left: 4px;

  background-image: url("../img/categories/smart_watch.svg");
}

.catalog-category--quadrupter .catalog-category__button::after {
  top: 2px;

  background-image: url("../img/categories/quadrupter.svg");
}

.catalog-category__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-category__button:active::after {
  opacity: 0.3;
}


/******** services *********/
.services {
  min-width: 1200px;
  min-height: 288px;
  margin-bottom: 94px;
  padding-top: 100px;

  background-color: #e5e5e5;
  background-clip: content-box;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-top: -100px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.services__buttons {
  width: 277px;
  min-height: 263px;
  margin: 0;
  padding: 0;
  padding-top: 56px;

  list-style: none;

  border-right: 7px solid #000000;
}

.services__buttons li {
  margin-top: 24px;
}

.service-button {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 160px;
  padding: 0;

  cursor: pointer;
}

.delivery__toggle:checked ~ .services__buttons .service-button[for="delivery"],
.warranty__toggle:checked ~ .services__buttons .service-button[for="warranty"],
.credit__toggle:checked ~ .services__buttons .service-button[for="credit"] {
  padding-right: 120px;

  color: #f7e184;

  background-color: #000000;
}

.delivery__toggle:checked ~ .services__buttons .service-button[for="delivery"]::before,
.warranty__toggle:checked ~ .services__buttons .service-button[for="warranty"]::before,
.credit__toggle:checked ~ .services__buttons .service-button[for="credit"]::before {
  display: none;
}

.delivery__toggle:checked ~ .services-list .service--delivery {
  display: block;
}

.warranty__toggle:checked ~ .services-list .service--warranty {
  display: block;
}

.credit__toggle:checked ~ .services-list .service--credit {
  display: block;
}

.services-list {
  width: 700px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-right: 60px;

  list-style: none;
}

.service {
  position: relative;

  display: none;
}

.service::before {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
}

.service--delivery::before {
  top: 19px;
  right: 7px;

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
}

.service--warranty::before {
  top: -5px;
  right: -14px;

  width: 171px;
  height: 195px;

  background-image: url("../img/warranty.svg");
}

.service--credit::before {
  top: -5px;
  right: 9px;

  width: 156px;
  height: 188px;

  background-image: url("../img/credit.svg");
}

.service__title {
  margin: 0;
  margin-top: 66px;
  padding: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 63px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.03em;
}

.service__description {
  margin: 0;
  margin-top: 23px;
  padding: 0;
  padding-right: 255px;

  letter-spacing: 0.02em;
}


/******** brands *********/
.brands {
  margin-bottom: 80px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-left: -40px;
  padding: 0;

  list-style: none;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.brand {
  width: 260px;
  height: 100px;
  margin-left: 40px;

  opacity: 0.2;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.brand:hover {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}

.about-and-contacts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

/******** about *********/
.about {
  position: relative;

  width: 475px;
  padding-top: 65px;
  padding-right: 80px;
}

.about::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;

  display: block;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about__text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  letter-spacing: 0;
}

.delivery-list {
  margin: 0;
  margin-top: 66px;
  padding: 0;

  list-style: none;
}

.delivery-item {
  position: relative;

  padding-left: 35px;

  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.delivery-item::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 1px;

  width: 4px;
  height: 4px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about__button {
  width: 260px;
  margin-top: 54px;
}


/******** contacts *********/
.contacts {
  position: relative;

  width: 560px;
  padding-top: 65px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;

  display: block;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.contacts__text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  letter-spacing: 0;
}

.contacts__map-image {
  width: 560px;
  height: 220px;
}

.contacts__button {
  width: 260px;
  margin-top: 61px;
}


/******** main-footer *********/
.main-footer {
  min-width: 1200px;
  margin-top: 82px;
  padding: 65px 0 80px;

  color: #ffffff;

  background-color: #464646;
}

.main-footer__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.main-footer__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

.main-footer__row3 {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer__row3::before {
  content: "";
  position: absolute;
  bottom: 22px;
  left: 0;

  display: block;
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.main-footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 361px;
  margin-top: -3px;
}

.main-footer__buttons .main-button {
  color: rgba(255, 255, 255, 0.7);
}

.main-footer__buttons .main-button:hover,
.main-footer__buttons .main-button:focus {
  color: rgba(255, 255, 255, 1);
}

.main-footer__buttons .main-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer__buttons .main-button__icon--login::before {
  background-image: url("../img/icons/user_yellow.svg");
}

.main-footer__buttons .main-button__icon--compare::before {
  left: 4px;

  background-image: url("../img/icons/compare_yellow.svg");
}

.main-footer__buttons .main-button__icon--cart::before {
  left: 2px;

  background-image: url("../img/icons/cart_yellow.svg");
}

.main-footer__navigation {
  -ms-flex-order: 1;
  order: 1;
  margin-top: 3px;
  margin-left: 124px;

  -webkit-box-ordinal-group: 2;
}

.main-footer__navigation .menu__item {
  margin-left: 35px;
}


.main-footer__address {
  -ms-flex-order: 0;
  order: 0;
  margin: 0;
  padding: 0;

  -webkit-box-ordinal-group: 1;
}

.main-footer__phone {
  -ms-flex-order: 2;
  order: 2;
  margin: 0;
  margin-left: auto;
  padding: 0;

  -webkit-box-ordinal-group: 3;
}

.main-footer__link {
  color: #ffffff;
}

.main-footer-socials {
  margin-top: 16px;
  margin-left: 510px;
}

.main-footer--catalog {
  margin-top: 0;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.social-item__button {
  color: #ffffff;

  opacity: 0.3;
}

.social-item__button:hover,
.social-item__button:focus {
  opacity: 0.6;
}

.social-item__button:active {
  opacity: 0.1;
}

.social-item__image {
  width: 32px;
  height: 32px;
}

.copyright-button {
  margin-top: 14px;
  margin-left: 483px;

  color: #ffc600;
}

.copyright-button:hover,
.copyright-button:focus {
  opacity: 0.6;
}

.copyright-button:active {
  opacity: 0.3;
}

.copyright-button__image {
  width: 27px;
  height: 35px;
}


/******** catalog *********/
.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/******** catalog-filter *********/
.catalog-filter {
  flex-grow: 1;
  flex-shrink: 0;
  width: 330px;

  background-color: #eeeeee;

  -webkit-box-flex: 1;
  -ms-flex-negative: 0;
  -ms-flex-positive: 1;
}

.catalog-filter-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;

  background-color: #dcdcdc;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.catalog-filter__title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 330px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 23px;
  padding-left: 61px;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.23em;
}

.catalog-filter__form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 271px;
  margin-top: 68px;
  margin-left: auto;
  padding-right: 70px;
}

.price-filter {
  margin-top: 23px;
}

.price-filter__range {
  position: relative;

  height: 12px;
  padding-top: 12px;
}

.price-filter__range-scale {
  height: 2px;

  background-color: #dbdbdb;
}

.price-filter__range-bar {
  width: 59%;
  height: 2px;

  background-color: #91c92f;
}

.price-filter__range-toggle {
  position: absolute;
  top: 2px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.price-filter__range-toggle:active {
  width: 5px;
  height: 5px;
}

.price-filter__range-toggle--min {
  left: -5px;
}

.price-filter__range-toggle--max {
  left: 108px;
}

.price-filter__controls {
  font-size: 0;

  opacity: 0.2;
}

.price-filter__label {
  display: inline-block;
  width: 90px;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  font-family: "Gilroy", Arial, sans-serif;
  vertical-align: top;
}

.price-filter__input {
  width: 55px;
  padding: 2px 0;

  font-weight: 300;
  font-size: 14px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  background: none;
  border: none;
}

.form-section__bluetooth {
  margin-top: 33px;
}

.catalog-filter__button {
  width: 200px;
  margin-top: 33px;
}

.catalog-main {
  flex-grow: 1;
  width: 830px;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

/******** catalog-sort *********/
.catalog-sort {
  background-color: #ebebeb;
}

.catalog-sort__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  min-height: 70px;
  padding-left: 70px;
}

.catalog-sort__title {
  margin: 0;
  margin-top: 23px;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.23em;
}

.catalog-sort__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 18px;
  margin-left: 21px;
  padding: 0;

  list-style: none;
}

.catalog-sort__item {
  margin-left: 29px;
}

.catalog-sort__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}


.catalog-sort__link:hover,
.catalog-sort__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sort__link:active {
  color: #000000;
}

.catalog-sort__item--active .catalog-sort__link {
  color: #000000;
}

.catalog-sort__order-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 30px;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.catalog-sort__order-item {
  margin-left: 20px;
}

.catalog-sort__order-link {
  position: relative;

  display: block;
  width: 10px;

  font-size: 0;
}

.catalog-sort__order-link:before {
  content: "";
  position: absolute;

  display: block;

  border: 10px solid #000000;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
  opacity: 0.2;
}

.catalog-sort__order-link--order--asc:before {
  border-bottom-width: 0;
}

.catalog-sort__order-link--order--desc:before {
  border-top-width: 0;
}

.catalog-sort__item--active .catalog-sort__order-link:before {
  opacity: 1;
}


/******** catalog-items *********/
.catalog-items {
  width: 760px;
  padding: 70px 0 77px 70px;
}

.catalog-items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  margin-top: -45px;
  margin-left: -40px;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.catalog-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 360px;
  margin-top: 45px;
  margin-left: 40px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-negative: 0;
}

.catalog-item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 31px;

  -webkit-box-align: start;
  -webkit-box-pack: justify;
  -ms-flex-align: start;
  -ms-flex-pack: justify;
}

.catalog-item__title {
  width: 260px;
  margin: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.catalog-item__title--less-width {
  width: 200px;
}

.catalog-item__price {
  flex-shrink: 0;
  padding-left: 20px;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #464646;

  -ms-flex-negative: 0;
}

.catalog-item__controls {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 380px;

  background-color: rgba(255, 255, 255, 0.7);

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.catalog-item:hover .catalog-item__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item__button-into-cart {
  width: 200px;
  margin-top: 35px;
}

.catalog-item__button-to-compare {
  margin-top: 15px;

  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item__button-to-compare:hover,
.catalog-item__button-to-compare:focus {
  color: #000000;
}

.catalog-item__button-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item__new {
  position: absolute;
  top: 29px;
  right: 26px;

  display: block;
  width: 58px;
  height: 58px;

  font-size: 0;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}


.catalog-item__new::before {
  content: "NEW";
  position: absolute;
  top: 50%;
  left: 50%;

  margin-top: -11px;
  margin-left: -14px;

  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.2);
}


/******** pagination *********/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #ebebeb;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-item__button {
  display: block;
  padding: 23px 29px;
}

.pagination-item__button:hover,
.pagination-item__button:focus {
  background-color: #d9d9d9;
}

.pagination-item__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item__page-button {
  display: block;
  padding: 25px 8px 21px 19px;

  color: rgba(0, 0, 0, 0.3);
}

.pagination-item__page-button:hover,
.pagination-item__page-button:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item__page-button:active {
  color: #000000;
}

.pagination-item--current .pagination-item__page-button {
  color: #000000;
}

.catalog-items__pagination {
  margin-top: 37px;
}


/******** modal *********/
.modal {
  position: fixed;
  z-index: 100;

  color: #000000;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}

.modal__close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: #f0c52e;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.modal__close:hover,
.modal__close:focus {
  opacity: 1;
}

.modal__close:active {
  opacity: 0.3;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 12px;

  width: 30px;
  height: 2px;

  background-color: #ffffff;
}

.modal__close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}


/******** modal-contacts *********/
.modal-contacts {
  top: 120px;
  left: 50%;

  width: 800px;
  margin-left: -480px;
  padding: 80px;
}


/******** contacts-form *********/
.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.contacts-form__section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.contacts-form__section__half-width {
  flex-basis: 50%;
  max-width: 50%;

  -ms-flex-preferred-size: 50%;
}

.contacts-form__button {
  width: 200px;
  margin-top: 9px;
  margin-left: 20px;
}


/******** modal-map *********/
.modal-map {
  top: 120px;
  left: 50%;

  width: 960px;
  height: 559px;
  margin-left: -480px;
}

.modal-map__map-image {
  width: 960px;
  height: 559px;
}
