/******** font-faces *********/
@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: local("Open Sans Light"),
  local("OpenSans-Light"),
  url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: local("Open Sans Regular"),
  local("OpenSans-Regular"),
  url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: local("Gilroy Light"),
  local("Gilroy-Light"),
  url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: local("Gilroy ExtraBold"),
  local("Gilroy-ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2");
}


/******** common *********/
body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}


.main-content__title {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.section-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}


/******** form *********/
.form-section legend {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
}

.form__components-list {
  list-style: none;
}

.form-checkbox__label {
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}


/******** button *********/
.button {
  .display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #f0c52e;
  border: none;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}


/******** breadcrumbs *********/
.breadcrumbs {
  list-style: none;
}

.breadcrumb-item__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumb-item__link:hover,
.breadcrumb-item__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumb-item__link:active {
  color: rgba(0, 0, 0, 0.1);
}


/******** main-header *********/
.main-header {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 42px 60px;

  position: relative;

  background-color: #f7e296;
}

.main-header__row {
  display: flex;
  margin-bottom: 30px;
}

.home-link:hover,
.home-link:focus {
  opacity: 0.6;
}

.home-link:active {
  opacity: 0.3;
}

.main-header__home-link {
  position: absolute;
  top: -20px;
}

.logo {
  width: 164px;
  height: 35px;
}

.main-header__button {
  color: #000000;
}

.main-header__button:hover,
.main-header__button:focus {
  opacity: 0.6;
}

.main-header__button:active {
  opacity: 0.3;
}

.main-header__button--logout {
  opacity: 0.3;
}


/******** search-form *********/
.search-form {
  width: 420px;
  margin: 0;
  padding: 0;
  padding-right: 100px;
}

.search-form__button {
  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: #000000;

  background: none;
  border: 2px solid #000000;
  visibility: hidden;
}

.search-form__button:focus,
.search-form__button:hover,
.search-form__query:focus + .search-form__button {
  visibility: visible;
}

.search-form__button:hover,
.search-form__button:focus {
  color: rgb(255, 255, 255);

  background-color: #000000;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}


/******** menu *********/
.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu__link:hover,
.menu__link:focus {
  opacity: 0.6;
}

.menu__link:active {
  opacity: 0.3;
}

.menu__submenu {
  display: none;
  list-style: none;

  background-color: #f7e184;
}

.menu__submenu-link {
  color: #000000;
}

.menu__submenu-link:hover,
.menu__submenu-link:focus {
  opacity: 0.6;
}

.menu__submenu-link:active {
  opacity: 0.3;
}

.menu--white .menu__link {
  color: #ffffff;
}


/******** slides *********/
.slides {
  position: relative;

  min-height: 520px;
  margin-bottom: 80px;

  box-shadow: inset 0 120px 0 0 #f7e296;
}

.slides-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slide {
  display: flex;
  justify-content: space-between;
}

.slide__image {
  width: 560px;
}

.slide__image img {
  display: block;
  margin: 0 auto;
}

.slide__details {
  width: 500px;
  padding-right: 60px;
}

.slide__lead {
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.slide__parameter-name {
  font-size: 13px;
  line-height: 20px;
}

.slide__parameter-value {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.slides__buttons {
  display: flex;
  padding: 0;
  margin: 0;

  position: absolute;
  bottom: 0px;
  right: 0px;

  list-style: none;
}

.slides__button {
  color: #000000;
}


/******** popular-categories *********/
.popular-categories {
  margin-bottom: 80px;
}

.catalog-categories-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -40px;
  margin-left: -40px;
  padding: 0;

  list-style: none;
}

.catalog-category {
  width: 160px;
  margin-top: 40px;
  margin-left: 40px;

  /*------- temporary -------*/
  min-height: 250px;
  background: rgba(128, 0, 0, 0.2);
  box-shadow: 0 0 0 3px red;
}

.catalog-category__button {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  background-color: #f7e296;
}

.catalog-category__button:hover,
.catalog-category__button:focus {
  background-color: #f0c52e;
}

.catalog-category__button:active {
  color: rgba(0, 0, 0, 0.3);
}


/******** services *********/
.services {
  min-height: 290px;
  margin-bottom: 80px;
  padding-top: 100px;

  background-color: #e5e5e5;
  background-clip: content-box;
}

.services__container {
  display: flex;
  justify-content: space-between;
  margin-top: -100px;
}

.services__buttons {
  width: 280px;
  margin: 0;
  padding: 0;

  list-style: none;

  border-right: 7px solid #000000;
}

.service-button:active {
  color: #f7e184;

  background-color: #000000;
}

.services-list {
  width: 700px;
  margin: 0;
  padding: 0;
  padding-right: 60px;

  list-style: none;
}


.service__title {
  font-weight: 800;
  font-size: 47px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}


/******** brands *********/
.brands {
  margin-bottom: 80px;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-left: -40px;
  padding: 0;

  list-style: none;
}

.brand {
  width: 260px;
  height: 100px;
  margin-left: 40px;
}


.about-and-contacts-row {
  display: flex;
  justify-content: space-between;

  padding-top: 60px;

  /*------- temporary -------*/
  min-height: 530px;
}

/******** about *********/
.about {
  width: 480px;
  padding-right: 80px;
}

.delivery-list {
  list-style: circle;
}

.delivery-item {
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}


/******** contacts *********/
.contacts {
  width: 560px;
}


/******** main-footer *********/
.main-footer {
  margin-top: 80px;
  padding: 65px 0 80px;

  color: #ffffff;

  background-color: #464646;
}

.main-footer__row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main-footer__row2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main-footer__row3 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.main-footer__button {
  color: rgba(255, 255, 255, 0.7);
}

.main-footer__button:hover,
.main-footer__button:focus {
  color: rgba(255, 255, 255, 1);
}

.main-footer__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer__button--logout {
  opacity: 0.3;
}

.main-footer__navigation {
  order: 1;
}

.main-footer__phone {
  order: 2;
}

.main-footer__link {
  color: #ffffff;
}

.main-footer-socials {
  margin-left: auto;
}

.socials-list {
  display: flex;
  list-style: none;
}

.social-item__button {
  color: rgba(255, 255, 255, 0.3);
}

.social-item__button:hover,
.social-item__button:focus {
  color: rgba(255, 255, 255, 0.6);
}

.social-item__button:active {
  color: rgba(255, 255, 255, 0.1);
}

.copyright-button {
  margin-left: auto;
  color: #ffc600;
}

.copyright-button:hover,
.copyright-button:focus {
  opacity: 0.6;
}

.copyright-button:active {
  opacity: 0.3;
}


/******** modal-contacts *********/
.contacts-form__label {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}


/******** catalog-filter *********/
.catalog-filter {
  background-color: #eeeeee;
}
.catalog-filter__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: #dcdcdc;
}


/******** catalog-sort *********/
.catalog-sort {
  background-color: #ebebeb;
}

.catalog-sort__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-sort__list {
  list-style: none;
}

.catalog-sort__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sort__link:hover,
.catalog-sort__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sort__link:active {
  color: #000000;
}

.catalog-sort__item--active .catalog-sort__link {
  color: #000000;
}


/******** catalog-items *********/
.catalog-items-list {
  list-style: none;
}

.catalog-item__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.catalog-item__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #464646;
}

.catalog-item__button-to-compare {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item__button-to-compare:hover,
.catalog-item__button-to-compare:focus {
  color: #000000;
}

.catalog-item__button-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}


/******** pagination *********/
.pagination {
  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;

  background-color: #ebebeb;
}


.pagination-item__button:hover,
.pagination-item__button:focus {
  background-color: #d9d9d9;
}

.pagination-item__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item__page-button {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item__page-button:hover,
.pagination-item__page-button:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item__page-button:active {
  color: #000000;
}

.pagination-item--current .pagination-item__page-button {
  color: #000000;
}
